MONGODB_URI=
AUTH_SECRET=
INITIAL_SETUP_TOKEN=
INITIAL_SPACE_NAME=ghumi.ghumi
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
B2_APPLICATION_KEY_ID=
B2_APPLICATION_KEY=
B2_BUCKET_NAME=fdrgtgrettgr
B2_ENDPOINT=https://s3.us-east-005.backblazeb2.com
B2_REGION=us-east-005
